$bg-color-1: #fff;
$header-color-1: #ffa85d;
$border-color-1: #d69535;
$border-color-body: #9e8154;
$nav-link-non-selected: #f1f1f1;
$link-button-highlight-1: #ffbd55;

body, html {
    background: transparent;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

body {
    border: 1px solid $border-color-body;
}

.tab-content {
    height: calc(100% - 62px);
    background: $bg-color-1;
    padding: 20px 15px;
}

.hidden {display: none;}

.nav-tabs {
    &.main {
        margin-top: 28px;
    }
    .nav-link {
        background-color: $nav-link-non-selected;
        &.active {
            background-color: $bg-color-1;
        }
        &.disabled {
            color: transparent;
            display: none;
        }
    }
}

.rel {
    position: relative;
}

.main-navbar {
    background: $header-color-1;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 68px;
    z-index: -1;

    .title {
        padding: 0px 15px;
        font-weight: 600;
        color: #fff;
        text-shadow: 1px 1px 1px #000;
        font-size: 19px;
    }
}

.full-height {
    height: 100%;
}
.full-height-row-1 {
    height: calc(100% - 52px);
}
.full-height-macro-actions {
    height: calc(100% - 34px);
}
.full-height-macro-fieldset {
    height: calc(100% + 11px);
}
.row {
    &.pad-top {
        padding-top:15px;
    }
    &.normal-pad {
        margin-bottom: 10px;
    }
    &.bottom {
        position: absolute;
        bottom: 0;
    }
}
.cut-pad-left {
    padding-left: 5px;
}
.cut-pad-right {
    padding-right: 5px;
}
.main-navbar-section-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 502px;
    height: 29px;
}
.main-navbar-section-2 {
    position: absolute;
    top: 0;
    left: 409px;
    width: 109px;
    height: 68px;
}
.main-navbar-section-3 {
    position: absolute;
    top: 26px;
    left: 518px;
    width: 81px;
    height: 42px;
}

.window-controls {
    position: absolute;
    top: 0;
    right: 0;

    .control {
        float: right;
        width: 41px;
        text-align: center;

        button {
            width: 100%;
            background: transparent;
            border: 1px solid #d69535;
            outline: none;

            &.minimize-window {

                &:hover {
                    background: $link-button-highlight-1;
                }
            }

            &.close-window {

                &:hover {
                    background: #f00;
                }
            }
        }
    }
}

.ui-draggable {
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

.shard-restriction-warning {
    position: absolute;
    bottom: 0;
    width: calc(100% - 30px);
}

// HTML element modifications
select {
    &.full-width {
        width: 100%;
    }
}

fieldset.scheduler-border {
    border: 1px groove #ddd!important;
    padding: 5px 5px 5px !important;
    margin: -13px !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
    width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
    font-size: 1rem;
    font-weight: bold !important;
    text-align: left !important;
}
